<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="blcGiayChungSinh">
            <h2><span>Blc Giay Chung Sinh</span> {{blcGiayChungSinh.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Uuid</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.uuid}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.createdDate}}</span>
                </dd>
                <dt><span>Ten Me Nguoi Nuoi Duong</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.tenMeNguoiNuoiDuong}}</span>
                </dd>
                <dt><span>Nam Sinh</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.namSinh}}</span>
                </dd>
                <dt><span>Dia Chi Thuong Tru</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.diaChiThuongTru}}</span>
                </dd>
                <dt><span>So CMND Passport</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.soCMNDPassport}}</span>
                </dd>
                <dt><span>Dan Toc</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.danToc}}</span>
                </dd>
                <dt><span>Gio Sinh</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.gioSinh}}</span>
                </dd>
                <dt><span>Ngay Thang Nam</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.ngayThangNam}}</span>
                </dd>
                <dt><span>Noi Sinh</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.noiSinh}}</span>
                </dd>
                <dt><span>So Lan Sinh</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.soLanSinh}}</span>
                </dd>
                <dt><span>So Con Hien Song</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.soConHienSong}}</span>
                </dd>
                <dt><span>So Con Trong Lan Sinh</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.soConTrongLanSinh}}</span>
                </dd>
                <dt><span>Gioi Tinh</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.gioiTinh}}</span>
                </dd>
                <dt><span>Can Nang</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.canNang}}</span>
                </dd>
                <dt><span>Hien Trang</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.hienTrang}}</span>
                </dd>
                <dt><span>Nguoi Do De</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.nguoiDoDe}}</span>
                </dd>
                <dt><span>Ten Du Dinh</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.tenDuDinh}}</span>
                </dd>
                <dt><span>Qr Code Image</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.qrCodeImage}}</span>
                </dd>
                <dt><span>Status App</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.statusApp}}</span>
                </dd>
                <dt><span>User Approve</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.userApprove}}</span>
                </dd>
                <dt><span>User Create</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.userCreate}}</span>
                </dd>
                <dt><span>Address GCS</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.addressGCS}}</span>
                </dd>
                <dt><span>Type GCS</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.typeGCS}}</span>
                </dd>
                <dt><span>So</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.so}}</span>
                </dd>
                <dt><span>Quyen So</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.quyenSo}}</span>
                </dd>
                <dt><span>Email NDK</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.emailNDK}}</span>
                </dd>
                <dt><span>Modified Date</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.modifiedDate}}</span>
                </dd>
                <dt><span>Id Benh Vien</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.idBenhVien}}</span>
                </dd>
                <dt><span>Ten Benh Vien</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.tenBenhVien}}</span>
                </dd>
                <dt><span>Id User Create</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.idUserCreate}}</span>
                </dd>
                <dt><span>Public Key</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.publicKey}}</span>
                </dd>
                <dt><span>Code Soft</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.codeSoft}}</span>
                </dd>
                <dt><span>Ngay Thang Nam Cap</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.ngayThangNamCap}}</span>
                </dd>
                <dt><span>Noi Cap</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.noiCap}}</span>
                </dd>
                <dt><span>Ho Ten Cha</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.hoTenCha}}</span>
                </dd>
                <dt><span>Pdf File</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.pdfFile}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{blcGiayChungSinh.status}}</span>
                </dd>
                <dt><span>Blc API Log</span></dt>
                <dd>
                    <div *ngIf="blcGiayChungSinh.blcAPILog">
                        <a [routerLink]="['/blc-api-log', blcGiayChungSinh.blcAPILog?.id, 'view']">{{blcGiayChungSinh.blcAPILog?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/blc-giay-chung-sinh', blcGiayChungSinh.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
